/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
}

header .main-nav {
    display: flex;
    justify-content: space-around;
    width: 700px;
}

header .main-nav a {
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.top-banner {
    margin: 40px 0 20px 0;
}

.top-content-home {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content-home .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content-home {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content-home h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content-home .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content-home .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content-home .boxes .box1 {
    background: teal;
}

.middle-content-home .boxes .box2 {
    background: gold;
}

.middle-content-home .boxes .box3 {
    background: cadetblue;
}

.middle-content-home .boxes .box4 {
    background: coral;
}

.middle-content-home .boxes .box5 {
    background: crimson;
}

.middle-content-home .boxes .box6 {
    background: forestgreen;
}

.middle-content-home .boxes .box7 {
    background: darkorchid;
}

.middle-content-home .boxes .box8 {
    background: hotpink;
}

.middle-content-home .boxes .box9 {
    background: indigo;
}

.middle-content-home .boxes .box10 {
    background: dodgerblue;
}

.bottom-content-home {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content-home .text-container {
    padding-right: 4%;
}

.bottom-content-home .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

/* About Page */

.top-content-about {
    border-bottom: 1px dashed black;
    padding: 0 20px 20px;
}

.middle-content-about .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.middle-content-about .about-box {
    padding: 30px 0 20px 0;
    margin-bottom: 30px;
    width: 360px;
    border-bottom: 1px dashed black;
}

.middle-content-about .about-box img {
    width: 100%;
}

.middle-content-about .about-box h2 {
    margin-top: 15px;
}

.middle-content-about button {
    margin-top: 20px;
    padding: 5px 20px;
    background: white;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 10px;
}

.bottom-content-about {
    padding: 20px 20px 50px 20px;
}